html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--font-color);
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
  font-family: "Inter", sans-serif;
}

@import "./Styles/homeModule.css";
@import "./Styles/navBar.css";
@import "./Styles/projectModule.css";
@import "./Styles/skillsModule.css";
@import "./Styles/contactModule.scss";
@import "./Styles/aboutMe.css";

:root {
  --background: #ffffff;
  --font-color: rgb(17, 17, 17);
  --border-color: rgb(255, 247, 247);
  --border-color2: rgb(226, 221, 221);
  --darkLight: rgb(32, 32, 32);
  --cardColor: #fffdf9;
  --bioColor: rgb(24, 65, 112);
  --linkColor: #064420;
  --cardColor1: #e6edff;
  --cardColor2: #e6dbeb;
  --cardColor3: #dff0e1;
}

.lightmode {
  --background: #121417;
  --font-color: #64ffda;
  --border-color: rgb(15, 15, 15);
  --border-color2: black;
  --darkLight: rgb(250, 245, 245);
  --cardColor: #101215;
  --bioColor: #64ffda;
  --linkColor: rgb(98, 91, 246);
  --cardColor1: #94b3fd;
  --cardColor2: #b983ff;
  --cardColor3: #baffb4;
}
